{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="/static/images/bg/breadcrumb-bg-1.jpeg"
        data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="/static/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="/static/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">About Tweak</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="{% url 'home' %}"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>contact</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- about area start -->
    <section class="about__area about__area--2 position-relative pt-125 pb-105">
        <span class="shape shape__1 position-absolute"><img src="/static/images/shape/about-shape-2-1.png"
                alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="/static/images/shape/about-shape-2-2.png"
                alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-7">
                    <div class="about__left about__left--2 position-relative">
                        <img class="big big-animation-img" src="/static/images/about/about-img-2-1.png" alt="img">
                        <img class="small position-absolute" src="/static/images/about/about-img-2-2.png" alt="img">
                    </div>
                    <p class="mt-5">
                        We provide Two Selection, Three Selection, Four Selection, Multi Option, Coin / Card Operated
                        Vending Machines. As long as we can have a hot beverage dispenser in your office, having a
                        trustworthy supply of immediate Instant Tea and Coffee premix powders is a different story. Tea
                        and coffee premixes come in dissimilar features, and it comes from different companies. Rely
                        upon the tastes of our offices and on our budget; there are many options from where we can
                        choose one of them. Immediate Tea and Coffee vending machine manufacturer and supplier mostly
                        have the single brand products, and the alternatives are definite.
                    </p>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <div class="about__right about__right--2 pl-45 pt-45">
                        <div class="section-heading section-heading__black">
                            <span class="sub-title">about Cafena</span>
                            <h2 class="title mb-25">Tweak Beverages - Tea Coffee Vending Machine Manufacturer</h2>
                            <p>If we like to know which premixes to order, don’t forget that immediate premixes are
                                available in completely different types of flavors and tastes. Instant premixes
                                suppliers can suggest you a lot of tea and coffee premixes, but you should have the
                                knowledge of the basic varieties.</p>
                        </div>
                        <ul class="about__list list-unstyled mt-25">
                            <li><span class="icon"><i class="fal fa-check"></i></span>C.B.Shah & Co. is a Mumbai, based
                                company and has been successfully catering to the domestic ans overseas market with its
                                Innovative and high quality Tea and Coffee products.</li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Today TWEAK TEA AND COFFEE has
                                become more than just a household name. We have continuously strived to create the brand
                                value by combing Quality and Innovation.</li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Passing through stringent quality
                                verification and certification, our products are of rich aroma and unmatched taste.Tweak
                                Beverages is the leading Coffee Vending Machine Manufacturer, Tea Vending Machine
                                Manufacturer in Mumbai, Maharashtra, India</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <p>
                        For a wide range and variety
                        of your drink, we want to have a trustworthy and relatively larger coffee and tea premixes
                        supplier. Mumbai-based businesses are always resourceful, but a small local supplier can only
                        provide suggestions you about so many varieties – a bigger supplier can only provide you a wide
                        range of beverages to put into our Tea and Coffee vending machines.
                        If we like to know which premixes to order, don’t forget that immediate premixes are available
                        in completely different types of flavors and tastes. Instant premixes suppliers can suggest you
                        a lot of tea and coffee premixes, but you should have the knowledge of the basic varieties.
                        <br>
                        Tea – There are so many varieties available for tea premixes. Like milk and sugar tea is a
                        particularly Indian taste, and it is the highest consuming and most common kind sold. It comes
                        in so many varieties of tea flavors like Masala, Mint, Ginger, Cardamom or Chai Latte. These are
                        specially flavored for different tastes. Apart from the milk and sugar based premix, we can
                        discover black tea and lemon tea premixes, as well as Peach, Apricot, Rose, and Apple taste with
                        most tea premixes suppliers. Mumbai-based suppliers having good stocks are quite a few in number
                        and we need to research to find the perfect company. We are one of the best Tea Vending Machine
                        Manufacturer in Mumbai, Maharashtra, India.
                        <br>
                        Coffee – Coffee premixes are available in different tastes and flavors at any good coffee
                        premixes supplier. Coffee powder has balanced the sugar, low sugar, or sugar-free according to
                        our requirements. Vanilla and Cardamom are two most popular flavored coffees. Mocha is a classic
                        taste which is being enjoyed in across the world. Coffee latte and general sugar milk coffee are
                        also common. Black coffee is world’s most favorite re- energizing drink, and an essential part
                        of any office pantry. Immediate premix powders of coffee are quite quickly available, but for
                        special flavors like Mocha and Vanilla are available only with the larger suppliers. We are one
                        of the best Coffee Vending Machine Manufacturer in Mumbai, Maharashtra, India.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->

    <!-- wcu section start -->
    <section class="wcu__area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">why choose us</span>
                        <h2 class="title">We are Provide Best Service <br>
                            in your city</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="/static/images/icons/wcu-1.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">testy premix</h2>
                            <p>We provide you the best premix of tea and coffee, With great taste and love of Tweak.</p>
                            <a href="{% url 'about' %}" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="/static/images/icons/wcu-2.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Great Location</h2>
                            <p>Our company is located in highly demand industry area, Bhiwandi Mhahrashtra India</p>
                            <a href="{% url 'about' %}" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="/static/images/icons/wcu-1.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Professional Worker</h2>
                            <p>We have too many proffesional experinced worker who are working for Tweak from last 10
                                years.</p>
                            <a href="{% url 'about' %}" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- wcu section end -->

    <!-- best-coffe section start -->
    <div class="best-coffe__area position-relative my-5">
        <div class="best-coffe__bg">
            <img src="/static/images/bg/best-coffe-1.jpeg" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-8 pl-35">
                    <div class="best-coffe__wrapper">
                        <div class="section-heading section-heading__black">
                            <h2 class="title mb-25">Try the best coffee, tea premix & vending machine </h2>
                            <p>Our company also manufacture two,three,four section vending machine which is highly
                                recommended for offices</p>
                            <p>If we like to know which premixes to order, don’t forget that immediate premixes are
                                available in completely different types of flavors and tastes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- best-coffe section end -->

</main>
{% endblock content %}